<div class="scroll-watcher"></div>

<div class="project">
    <div class="mt-20 text-gray-300">
        <nav class="project-nav">
            <div>Project Title</div>
            <ul>
                <li><a href="#team&tools">Team & Tools</a></li>
                <li><a href="#time&response">Timeline & Responsibilities</a></li>
                <li><a href="#endorse&study">Endorsement & Study</a></li>
                <li><a href="#text">About</a></li>
                <li><a href="#extraimages">Images</a></li>
            </ul>
        </nav>
    </div>
    <div class="project-details">
        <a mat-button routerLink="/home" class="!text-white"> <mat-icon> keyboard_arrow_left </mat-icon> Back</a>
        <section id="skilltype">
            <div class="text-4xl text-gray-300"> UX DESIGN </div>
        </section>
        <section id="mainimage">
            <div class="flex justify-center items-center">
                <img src="../../../assets/images/img1.jpg" class="h-3/6 w-full" alt="frame1" placeholder>
            </div>
        </section>
        <section id="team&tools" class="detail-row slide-left">
            <section id="team">
                <div class="heading text-gray-300">Team</div>
                <div class="info">ItrateUX</div>
            </section>
            <section id="tool">
                <div class="heading">Tools</div>
                <div class="info">Figma, Miro, Google Suite</div>
            </section>
        </section>
        <section id="time&response" class="detail-row  slide-left">
            <section id="timeline">
                <div class="heading">Timeline</div>
                <div class="info">Jan 2023 - Mar 2023</div>
            </section>
            <section id="responsibilities">
                <div class="heading">Responsibilities</div>
                <div class="info">User interviews, secondary research, competitive analysis, information architecture,
                    affinity
                    mapping,
                    user flow, wireframes, prototypes, A/B testing, focus group interviews, and usability testing.</div>
            </section>
        </section>
        <section id="endorse&study" class="detail-row  slide-left">
            <section id="endorse">
                <div class="heading">Endorsement</div>
                <div class="info">"Her design skills are truly impressive, constantly pushing boundaries to create
                    visually
                    captivating
                    and user-centric products. With her keen understanding of customer psychology, she crafts designs
                    that
                    deeply resonate with our target audience. Her relentless drive and ability to take responsibility
                    make
                    her an invaluable asset to our team."</div>
            </section>

            <div id="casestudy" class="mt-20 slide-left">
                <button mat-stroked-button> View Case Study <mat-icon iconPositionEnd>open_in_new</mat-icon> </button>
            </div>

        </section>

        <section id="text" class="text-[#969A9F]  slide-left">
            Remote workers struggle with task management due to distractions like social media, relying on multiple
            apps,
            low motivation when starting projects, and steep learning curves for related applications. To conduct
            thorough
            research and develop a user-centered task management web app that effectively addresses users' needs,
            ultimately
            enhancing their productivity by providing an intuitive interface, efficient workflows, and engaging features
            tailored to their preferences and work habits.

            To conduct thorough research and develop a user-centered task management web app that effectively addresses
            users' needs, ultimately enhancing their productivity by providing an intuitive interface, efficient
            workflows,
            and engaging features tailored to their preferences and work habits.
        </section>

        <section id="extraimages">

        </section>
    </div>
</div>